*, *:before, *:after {
    box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}
/*********************************
	HELPERS
**********************************/
.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.text-center {	text-align: center; }
/*********************************
	GRID
**********************************/
.row { 
	float: left;
	margin: 0 40px; 
}
.col { 
	float: left;
	padding: 0 15px;
}
.col-1 { width: 100% }
.col-3 { width: 33.333%; }
/*********************************
	SIDEBAR
**********************************/
.side-menu {
	width: 100px;
	height: 100%;
	background-color: #D7D7D7;
	position: fixed;
	z-index: 1;
}
.side-menu a {
	color: #5E5E5E;
	text-decoration: none;
	text-transform: uppercase;
}
.logo {
	display: block;
	position: relative;
	top: 30px;
}
.main-menu {
	position: relative;
	transform: rotate(270deg);
	top: 90px;
}
.main-menu ul {
	display: flex;
	flex-direction: row-reverse;
}
.main-menu ul li {
	display: inline-block;
	margin: 0 10px;
}
.social-menu {
	color: black;
	position: absolute;
	bottom: 30px;
	width: 100%;
}
.social-menu a {
	color: black;
}
.social-menu ul li {
	padding: 5px;
}
/***********************************
	MAIN CONTENT
************************************/
.main-content {
    padding-left: 100px;
}

.section {
	background-color: #333;
	color: #fff;
}
h2 {
	text-transform: uppercase;
	font-weight: 700;
}
h3 {
	width: 60%;
	margin: 30px 0;
	font-size: 22px;
}
h4 {
	margin-top: 0;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
}
.underlined-title:after {
	content: "";
	display: block;
	width: 40px;
	height: 2px;
	background: #ff5722;
	margin-top: 10px;
}
.section a {
	text-decoration: none;
	color: #ff5722;
}
.section a:hover {
	text-decoration: underline;
}
#section-home {
	background-image: linear-gradient(to top, rgba(64, 59, 74, 0.9), rgba(115,108,112,0.5)), url(../images/photo-background.jpg);
	/*background-image: linear-gradient(rgba(255, 62, 0, 0.5), rgba(123, 2, 119, 0.5)), url(../images/photo-background.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-position: center bottom;
}
.main-quotation {
	margin: 0 30%;
}
.main-quotation p {
	font-size: 34px;
	margin-bottom: 10px;
}
.main-quotation footer {
	text-align: right;
	font-style: italic;
}